@import 'variables.scss';

* {
    font-family: 'Museo Sans Cyrl'; }
  
.container {
    max-width: 950px;
    margin: 0, auto;
}
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantage';
@import 'blocks/consultation';
